.navbar-nav .nav-link {
  color: rgba(0, 0, 0, 1) !important;
}

.navbar-nav .nav-link:hover {
  color: rgba(0, 0, 0, .5) !important;
}

body {
  position: relative;
  padding-top: 65px;
  font-family: 'Lato', sans-serif;
  background-color:	#A9A9A9;

}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.left{
  text-align: left;
}

.align {
  text-align: justify;
 text-justify: inter-word;
}

#more {display: none;}
#more2 {display: none;}
hr {
  height: 3px;
  background-color: #3399CC;
  border-radius: 20px;
}

.education {
    padding: 50px 40px;
    background-color: #2E3237;
    margin: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.course {
    padding: 0;
    display: inline-block;
    color: #fff;
    text-align: justify;
}

.date {
    float: right;
    display: inline-block;
    font-size: inherit;
    color: #fff;
    text-align: justify;
}

.h1font {
  font-size: 3rem;
}

.carousel-caption {
    top: 60%;
    bottom: auto;
}

.carousel-inner {
  opacity: 70%;
  width: 80%;
  margin: 0 auto;
}

/* Fade in down */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

/* Fade In Up */
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

@media (max-width: 500px) {
  .education {
        padding: 30px 15px;
        background-color: #2E3237;
        margin: 0;
        margin-bottom: 25px;
        box-shadow: 0 1px 4px rgba(121, 121, 121, 1);
    }
    .course {
        padding: 0;
        display: inline-block;
        color: #fff;
        text-align: justify;
        font-size: 15px;
    }
    .date {
        float: right;
        display: inline-block;
        font-size: 10px;
    }
}
